{% extends 'base.html' %}
{% block content %}
<h2>会員ページ</h2>
<p>{{ user }}さん、こんにちは！</p>
<p><a href="{% url 'logout' %}">ログアウト</a></p>

<h2>記事一覧</h2>
<ul>
    {% for userdate in userdates %}
    {% if user.id == userdate.user.id %}
    <li style="list-style:none"><a href="{% url 'show' userdate.id %}">{{ userdate.bmi.0 }}</a></li>
    {% endif %}
    {% endfor %}
</ul>
<br>
<a href="{% url 'new' %}">新規投稿</a>
<br><br>
<a href="{% url 'userdelete' %}">解約はこちら</a>
{% endblock %}

<!-- CSSの適応について後で確認 -->

<!-- http://shincode.info/2021/05/06/how-to-create-mypage-on-django/ 参考 -->