{% extends 'base.html' %}
{% block content %}
        <ul style="list-style:none">
            <li><p>身長：{{ userdates.height }}</p></li>
            <li><p>体重：{{ userdates.weight }}</p></li>
            <li><p>BMI：{{ userdates.bmi.0 }}</p></li>
            <br><br>
            <li><p>公開日：{{ userdates.created_date }}</p></li>
            <li><p>更新日：{{ userdates.updated_date }}</p></li>
            <br><br>
        </ul>
        <br>
        <br>
        <p>{{ userdates.bmi.1 }}</p>
        <br>
        <br>
        <a href="{% url 'edit' userdates.id %}">編集する</a>
        <a href="{% url 'delete' userdates.id %}">削除する</a>
{% endblock %}